<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="32x32" href="https://i.imgur.com/JHJge3X.jpeg" type="image/png">
    <title>Settings</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'admin/css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/css/settings.css' %}" />
</head>
<body>

    <!-- Include the navbar -->
    {% include 'details/navbar.html' %}

    <main class="container">
        <h1>Settings</h1>
        
        <div class="top-buttons">
            <button class="crm-balance">
                CRM balance: $
            </button>
            <button class="language-selector">Select language ▼</button>
            <a href="{% url 'add_tg' %}">
            <button class="connect-telegram">Connect Telegram</button>
            </a>
        </div>
        
        
        <p class="payment-info">Next payment date: 15.01.2026</p>
        
        <div class="bottom-buttons">
            <a href="{% url 'edit_room_list' %}">
            <img src="{% static 'admin/img/edit_rooms.png' %}" alt="Add rooms" class="image-button">
            </a>
            <a href="{% url 'add_room' %}">
            <img src="{% static 'admin/img/add_rooms.png' %}" alt="Edit rooms" class="image-button">
            </a>
            <img src="{% static 'admin/img/edit_staff.png' %}" alt="Edit staff" class="image-button">
        </div>
    </main>

</body>
</html>
