{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve Room - Hotel CRM</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'admin/css/reservation_form.css' %}">
</head>
<body>
  {% include 'details/navbar.html' %}
    <div class="main-content">
        <div class="reservation-card">
            <h3>Reserve a Room</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="buttons-wrapper">
                <button type="submit" class="btn btn-primary mt-3">Reserve</button>
                <a href="{% url 'room_list' %}" class="btn-secondary">Back to Rooms</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
