{% load static %}
<link rel="stylesheet" href="{% static 'admin/css/navbar.css' %}" />

<div class="wrapper">
    <!-- SIDEBAR -->
    <aside class="sidebar">
      <div class="sidebar-header">
        <!-- Logo / Avatar -->
        <div class="avatar-container">
          <!-- Replace with your actual logo/avatar image -->
          <img src="{% static 'admin/img/operator.png' %}" alt="" class="avatar"/>
        </div>
        <h2>Admin Panel</h2>
      </div>

      <!-- NAVIGATION MENU -->
      <nav>
        <ul class="nav-list">
          <li>
            <a href="{% url 'main_page' %}" class="{% if request.resolver_match.url_name == 'main_page' %}active{% endif %}">
              <img src="{% static 'admin/img/main_page_icon.png' %}" alt="" class="icon"/>
              Main Page
            </a>
          </li>
          <li>
            <a href="{% url 'room_list' %}" class="{% if request.resolver_match.url_name == 'room_list' %}active{% endif %}">
              <img src="{% static 'admin/img/booking_icon.png' %}" alt="" class="icon"/>
              Rooms
            </a>
          </li>
          <li>
            <a href="{% url 'close_rooms_list' %}" class="{% if request.resolver_match.url_name == 'close_rooms_list' %}active{% endif %}">
              <img src="{% static 'admin/img/rooms_icon.png' %}" alt="" class="icon"/>
              Reservations
            </a>
          </li>
          <li>
            <a href="/stats" class="{% if request.path == '/stats' %}active{% endif %}">
              <img src="{% static 'admin/img/stats_icon.png' %}" alt="" class="icon"/>
              Finance
            </a>
          </li>
          <li>
            <a href="{% url 'settings' %}" class="{% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
              <img src="{% static 'admin/img/settings_icon.png' %}" alt="" class="icon"/>
              Settings
            </a>
          </li>
          
        </ul>
      </nav>

      <!-- FOOTER -->
      <footer class="sidebar-footer">
        <p>Developed by Asap Rocky &amp; Ibragim Jalilov</p>
        <p>&copy; 2024 Hotel Admin Panel | All rights reserved.</p>
      </footer>
    </aside>
    <link rel="stylesheet" href="{% static 'admin/js/navbar.js' %}" />