  /* SIDEBAR */
  .sidebar {
    width: 310px;
    background-color: #F2F2F2; /* Light background for the sidebar */
    color: #000;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  /* SIDEBAR HEADER (LOGO/AVATAR + TITLE) */
  .sidebar-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .avatar-container {
    margin-bottom: 10px;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;

  }
  
  .sidebar-header h2 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  /* NAVIGATION MENU */
  .nav-list {
    list-style: none;
    padding: 0 20px;
  }
  
  .nav-list li {
    margin: 15px 0;
  }
  
  .nav-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    background-color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.2s;
  }
  
  .nav-list a:hover {
    background-color: #e6e6e6;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  /* SIDEBAR FOOTER */
  .sidebar-footer {
    font-size: 0.65rem;
    text-align: center;
    color: #555;
    padding: 0 20px;
  }
  